@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@font-face {
    font-family: Avenir;
    src: url(\src\fonts\AvenirNextCyr\AvenirNextCyr-Regular.ttf)
}

:root {
    font-size: 16px;
    font-family: 'Avenir', Times, serif;
}

* {
    box-sizing: border-box;
    outline: none;
}

.main {
    background-image: linear-gradient(rgba(255, 255, 255, 0.95), rgba(255, 255, 255, 0.95)), url(\src\img\bg.png);
    background-size: 100vw;
    background-repeat: no-repeat;
    background-position: top right;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 75px 60px;
}

@media (max-width: 576px) {
    .container {
        padding: 30px 15px;
    }
}